In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('final_food_delivery_dataset.csv')
df

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,2528,249,21-05-2023,1211.96,Royal Kitchen North Indian,User_2528,Hyderabad,Gold,Restaurant_249,Italian,4.7
9996,9997,2867,267,06-08-2023,1188.05,Darbar Cafe Punjabi,User_2867,Bangalore,Regular,Restaurant_267,Chinese,4.2
9997,9998,522,420,11-11-2023,979.44,Ruchi Tiffins Chinese,User_522,Bangalore,Gold,Restaurant_420,Italian,4.0
9998,9999,319,492,08-09-2023,1105.93,Swagath Kitchen North Indian,User_319,Bangalore,Gold,Restaurant_492,Italian,4.0
9999,10000,457,439,21-10-2023,879.58,Classic Cafe Family Restaurant,User_457,Chennai,Regular,Restaurant_439,Mexican,3.1

In [7]:
df[df['membership']=='Gold'].groupby(by='city')['total_amount'].sum()

city
Bangalore     994702.59
Chennai      1080909.79
Hyderabad     896740.19
Pune         1003012.32
Name: total_amount, dtype: float64

In [10]:
df.groupby(by='cuisine').size()

cuisine
Chinese    2418
Indian     2469
Italian    2532
Mexican    2581
dtype: int64

In [16]:
user_ts = df.groupby('user_id')['total_amount'].sum()
user_ts[user_ts>1000]

user_id
1       1289.66
2       7564.12
3       1839.51
4       3741.16
5       5742.88
         ...
2995    2472.66
2996    1533.54
2997    5310.32
2998    4241.47
3000    2226.63
Name: total_amount, Length: 2544, dtype: float64

In [18]:
def ratings(r):
    if r >= 3.0 and r <= 3.5:
        return 'a'
    elif r >= 3.6 and r <= 4.0:
        return 'b'
    elif r >= 4.1 and r <= 4.5:
        return 'c'
    elif r >= 4.6 and r <= 5.0:
        return 'd'

In [20]:
df['rating_group'] = df['rating'].apply(ratings)
df['rating_group']

0       a
1       c
2       b
3       d
4       a
       ..
9995    d
9996    c
9997    b
9998    b
9999    a
Name: rating_group, Length: 10000, dtype: object

In [23]:
df.groupby(by='rating_group')['total_amount'].sum()

rating_group
a    2136772.70
b    1717494.41
c    1960326.26
d    2197030.75
Name: total_amount, dtype: float64

In [24]:
df[df['membership']=='Gold'].groupby(by='city')['total_amount'].mean()

city
Bangalore    793.223756
Chennai      808.459080
Hyderabad    806.421034
Pune         781.162243
Name: total_amount, dtype: float64

In [29]:
df.groupby(by='cuisine')['restaurant_name_y'].nunique()

cuisine
Chinese    120
Indian     126
Italian    126
Mexican    128
Name: restaurant_name_y, dtype: int64

In [30]:
df.groupby(by='cuisine')['total_amount'].sum()

cuisine
Chinese    1930504.65
Indian     1971412.58
Italian    2024203.80
Mexican    2085503.09
Name: total_amount, dtype: float64

In [34]:
ord_meme = df.groupby(by='membership').size()
ord_meme['Gold']/ord_meme.sum() * 100

np.float64(49.87)

In [41]:
res_size = df.groupby('restaurant_name_x').size()
r1 = res_size[res_size<20]

In [47]:
r1[r1 == r1.max()]

restaurant_name_x
Annapurna Foods Non-Veg               19
Annapurna Foods North Indian          19
Annapurna Tiffins Punjabi             19
Classic Delights Family Restaurant    19
Classic Foods Pure Veg                19
Classic Kitchen Family Restaurant     19
Classic Tiffins Pure Veg              19
Darbar Cafe Punjabi                   19
Darbar Delights Family Restaurant     19
Darbar Eatery North Indian            19
Darbar Tiffins Andhra                 19
Grand Eatery Non-Veg                  19
Grand Mess Punjabi                    19
Hotel Restaurant Non-Veg              19
Hotel Tiffins Punjabi                 19
New Biryani Andhra                    19
New Biryani North Indian              19
New Dhaba South Indian                19
Royal Restaurant Andhra               19
Royal Tiffins Chinese                 19
Ruchi Cafe Chinese                    19
Ruchi Curry House Pure Veg            19
Ruchi Foods Chinese                   19
Sai Cafe Family Restaurant            19
Sai Curry House South Indian          19
Sai Delights South Indian             19
Spice Biryani Multicuisine            19
Spice Tiffins Chinese                 19
Sri Biryani Family Restaurant         19
Swagath Biryani Non-Veg               19
Swagath Mess Pure Veg                 19
Taste of Kitchen Family Restaurant    19
Udupi Restaurant Family Restaurant    19
dtype: int64

In [53]:
df[(df['membership'] == 'Gold') & (df['cuisine'] == 'Indian')]['total_amount'].sum()

np.float64(979312.31)

In [54]:
df[(df['membership'] == 'Gold') & (df['cuisine'] == 'Italian ')]['total_amount'].sum()

np.float64(0.0)

In [55]:
df[(df['membership'] == 'Regular') & (df['cuisine'] == 'Indian')]['total_amount'].sum()

np.float64(992100.27)

In [56]:
df[(df['membership'] == 'Regular') & (df['cuisine'] == 'Chinese ')]['total_amount'].sum()

np.float64(0.0)

In [57]:
df

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating,rating_group
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2,a
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5,c
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0,b
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8,d
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,2528,249,21-05-2023,1211.96,Royal Kitchen North Indian,User_2528,Hyderabad,Gold,Restaurant_249,Italian,4.7,d
9996,9997,2867,267,06-08-2023,1188.05,Darbar Cafe Punjabi,User_2867,Bangalore,Regular,Restaurant_267,Chinese,4.2,c
9997,9998,522,420,11-11-2023,979.44,Ruchi Tiffins Chinese,User_522,Bangalore,Gold,Restaurant_420,Italian,4.0,b
9998,9999,319,492,08-09-2023,1105.93,Swagath Kitchen North Indian,User_319,Bangalore,Gold,Restaurant_492,Italian,4.0,b
9999,10000,457,439,21-10-2023,879.58,Classic Cafe Family Restaurant,User_457,Chennai,Regular,Restaurant_439,Mexican,3.1,a

In [58]:
df['order_date'].dtype

dtype('O')

In [60]:
df['quarter'] = 'Q' + pd.to_datetime(df['order_date']).dt.quarter.astype(str)
df['quarter']

C:\Users\SS\AppData\Local\Temp\ipykernel_21576\2778360878.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['quarter'] = 'Q' + pd.to_datetime(df['order_date']).dt.quarter.astype(str)

0       Q1
1       Q1
2       Q3
3       Q4
4       Q4
        ..
9995    Q2
9996    Q3
9997    Q4
9998    Q3
9999    Q4
Name: quarter, Length: 10000, dtype: object

In [61]:
df.groupby(by='quarter')['total_amount'].sum()

quarter
Q1    2010626.64
Q2    1945348.72
Q3    2037385.10
Q4    2018263.66
Name: total_amount, dtype: float64

In [63]:
df[df['membership']=='Gold'].shape

(4987, 14)

In [66]:
df[df['city']=='Hyderabad']['total_amount'].sum()

np.float64(1889366.58)

In [72]:
df['user_id'].nunique()

2883

In [74]:
df[df['membership']=='Gold']['total_amount'].mean()

np.float64(797.1455564467616)

In [76]:
df[df['rating']>=4.5].shape

(3374, 14)

In [82]:
df[df['membership'] == 'Gold'].groupby(by='city')['total_amount'].sum()

city
Bangalore     994702.59
Chennai      1080909.79
Hyderabad     896740.19
Pune         1003012.32
Name: total_amount, dtype: float64

In [81]:
df[(df['city'] == 'Chennai') & (df['membership'] == 'Gold')].shape[0]

1337